{% load i18n %}

<div class="party-filters border border-black">
  <div class="flex flex-row border-b border-black-600">
    <div class="basis-1/3">{% trans "Type" %}</div>
    <div class="basis-2/3"></div>
  </div>
  <div class="flex flex-row border-b border-black-600">
    <div class="basis-1/3">{% trans "Animateur·ice" %}</div>
    <div class="basis-2/3"></div>
  </div>
  <div class="flex flex-row border-b border-black-600">
    <div class="basis-1/3">{% trans "Status" %}</div>
    <div class="basis-2/3"></div>
  </div>
  <div class="flex flex-row border-b border-black-600">
    <div class="basis-1/3">{% trans "Pagination" %}</div>
    <div class="basis-2/3"></div>
  </div>
  <div class="flex flex-row border-b border-black-600">
    <div class="basis-1/3">{% trans "Seulement les parties affichées par page" %}</div>
    <div class="basis-2/3"></div>
  </div>
</div>